.categoryValues {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.value {
    font-size: 2rem;
    line-height: 1.2em;
    text-align: end;
    font-feature-settings: 'tnum' on, 'lnum' on;
}

@media (max-width: 640px) {
    .value { 
        font-size: 1.5rem;
        line-height: 1.2em;
    }
}
