.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.15rem;
    background: var(--color-secondary);
    color: var(--color-black);
    font-size: 0.5rem;
    font-weight: 700;
    /* font-feature-settings: 'tnum' on, 'lnum' on; */
}
